<form class="container">
    <div class="row">
      <div class="col-sm-5 form-group">
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="col-sm-2 form-group">
        <input type="text" class="form-control" placeholder="Amount">
      </div>
    </div>
    <div>
        <button class="btn btn-success" style="margin:5px" type="submit">Add</button>
        <button class="btn btn-danger" style="margin:5px" type="button">Delete</button>
        <button class="btn btn-primary" style="margin:5px" type="submit">Clear</button>
        </div>
  </form>